.box {
  height: 500px;
  background-color: darkslategrey;

}

.daylight{
  background-color: blue;
}
h1{
   text-align: center;
   color: chartreuse;
   text-transform: uppercase;
   font-family: canterbury;
   font-size: 50px;
}
.name1{
  color: yellow;
  font-family: cursive;
}

h3{
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 30px;
  color: aliceblue;
}
.mrg{
  text-align: center;
  justify-content: space-around;
  
 
}

.btn{
  position: relative;
  margin-left: 5px;
 
  border-radius: 25px;
  border: 5px solid;
  padding: 5px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  background-color: yellow;
}